* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #242424;
  color: white;
  font-weight: 500;
  min-height: 100vh;
  overflow-x: hidden;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
  margin-bottom: 30px;

  div {
    display: flex;
    gap: 20px;
    a {
      text-decoration: none;
      color: rgb(224, 98, 98);
      font-size: 20px;
    }

    .active {
      text-shadow: 0px 0px 10px pink;
    }
  }
}

.card {
  background-color: gray;
  border-radius: 10px;
  padding: 20px;
  color: white;

  .head {
    display: flex;
    gap: 20px;
    font-size: 20px;
    align-items: center;
    justify-content: start;
    margin-bottom: 20px;
    .letter {
      font-size: 22px;
      background-color: purple;
      padding: 5px;
      border-radius: 5px;
      width: 60px;
      height: 60px;
      display: grid;
      place-items: center;
    }

    .info {
      font-size: 20px;
    }
  }

  .body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 30px;

    .field {
      display: flex;
      align-items: center;
      gap: 5px;
      max-width: 200px;
      img {
        width: 40px;
      }
    }

    .status {
      .interview {
        background: green;
      }
      .pending {
        background-color: orange;
      }
      .rejected {
        background-color: red;
      }

      .default {
        background-color: gray;
      }
      span {
        padding: 10px 20px;
        border-radius: 10px;
      }
    }
  }
}
.job-list {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  flex-wrap: nowrap;
}

.job-count {
  margin-bottom: 10px;
}

.add-sec {
  max-width: 700px;
  margin: 100px auto;
  box-shadow: 0px -1px 46px 21px rgba(15, 32, 157, 0.75);
  -webkit-box-shadow: 0px -1px 46px 21px rgba(15, 32, 157, 0.75);
  -moz-box-shadow: 0px -1px 46px 21px rgba(15, 32, 157, 0.75);
  padding: 25px;
  form {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

    div {
      display: flex;
      flex-direction: column;
      margin-right: 20px;
      padding: 10px 0px;
      label {
        margin-bottom: 5px;
      }
      input,
      select {
        padding: 10px 15px;
        border-radius: 5px;
      }
    }

    div:last-child {
      display: flex;
      justify-content: end;
    }
    button {
      padding: 10px 15px;

      justify-self: end;
      border-radius: 5px;
      background: rgb(64, 34, 122);
      color: white;
      font-size: 18px;
      cursor: pointer;
      transition: 0.3s ease all;

      &:hover {
        background-color: rgb(37, 28, 28);
      }
    }
  }
}

.filter-sec {
  @extend .add-sec;
  max-width: 1000px;
}
